sprinklerflows.json
[{"id":"39757602.437b4a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a637d803.a27488","type":"mqtt out","z":"39757602.437b4a","name":"","topic":"","qos":"2","retain":"","broker":"1ec71971.9e3817","x":1170,"y":260,"wires":[]},{"id":"4de37a56.4f0904","type":"ui_switch","z":"39757602.437b4a","name":"","label":"Sprinkler 1","tooltip":"","group":"ce87a7f7.67cd78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sprinkler/1","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":80,"wires":[["a637d803.a27488"]]},{"id":"4f2cda27.b13cf4","type":"ui_switch","z":"39757602.437b4a","name":"","label":"Sprinkler 2","tooltip":"","group":"ce87a7f7.67cd78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sprinkler/2","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":140,"wires":[["a637d803.a27488"]]},{"id":"7690823a.37997c","type":"ui_switch","z":"39757602.437b4a","name":"","label":"Sprinkler 3","tooltip":"","group":"ce87a7f7.67cd78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sprinkler/3","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":200,"wires":[["a637d803.a27488"]]},{"id":"a6554e3f.dc4e","type":"ui_button","z":"39757602.437b4a","name":"station alert","group":"6c25542b.b7bc1c","order":0,"width":0,"height":0,"passthru":false,"label":"Station 11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"station/alert","x":690,"y":760,"wires":[["55a199b7.8cea18"]]},{"id":"55a199b7.8cea18","type":"mqtt out","z":"39757602.437b4a","name":"station alert","topic":"station/alert","qos":"1","retain":"","broker":"1ec71971.9e3817","x":1170,"y":760,"wires":[]},{"id":"933823a3.554bb","type":"ui_switch","z":"39757602.437b4a","name":"","label":"Sprinkler 4","tooltip":"","group":"ce87a7f7.67cd78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sprinkler/4","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":260,"wires":[["a637d803.a27488"]]},{"id":"78858f37.be1cf","type":"ui_switch","z":"39757602.437b4a","name":"","label":"Sprinkler 5","tooltip":"","group":"ce87a7f7.67cd78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sprinkler/5","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":320,"wires":[["a637d803.a27488"]]},{"id":"444bed60.a81c24","type":"ui_switch","z":"39757602.437b4a","name":"","label":"Sprinkler 6","tooltip":"","group":"ce87a7f7.67cd78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sprinkler/6","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":380,"wires":[["a637d803.a27488"]]},{"id":"3404fcce.32b484","type":"ncd-ads1115","z":"39757602.437b4a","name":"","connection":"","addr":"72","interval":0,"outputs":1,"output_all":0,"output_mult":1,"channel_1":"4","channel_2":"_none","channel_3":"_none","channel_4":"_none","gain":2,"mode":"2","rate":4,"compMode":"1","compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":600,"y":600,"wires":[["e973e3a7.b4d98"]]},{"id":"e973e3a7.b4d98","type":"debug","z":"39757602.437b4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":580,"wires":[]},{"id":"2c870f26.39263","type":"ui_button","z":"39757602.437b4a","name":"","group":"ce87a7f7.67cd78","order":8,"width":0,"height":0,"passthru":true,"label":"Garage door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"garage/door","x":730,"y":440,"wires":[["a637d803.a27488"]]},{"id":"b500efe9.4dbb9","type":"ui_button","z":"39757602.437b4a","name":"","group":"ce87a7f7.67cd78","order":9,"width":0,"height":0,"passthru":true,"label":"Side Gate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"side/gate/1","x":740,"y":500,"wires":[["a637d803.a27488"]]},{"id":"e840bbd0.81e798","type":"timerswitch","z":"39757602.437b4a","name":"weekly sprinkler timers","ontopic":"sprinkler/1","offtopic":"sprinkler/1","onpayload":"false","offpayload":"true","disabled":false,"schedules":[{"on_h":"-1","on_m":"01","on_s":"-1","off_h":"-1","off_m":"-1","off_s":"-1","valid":false},{"on_h":"-1","on_m":"00","on_s":"-1","off_h":"-1","off_m":"-1","off_s":"-1","valid":false},{"on_h":"-1","on_m":"00","on_s":"-1","off_h":"-1","off_m":"-1","off_s":"-1","valid":false},{"on_h":"-1","on_m":"00","on_s":"-1","off_h":"-1","off_m":"-1","off_s":"-1","valid":false},{"on_h":"-1","on_m":"00","on_s":"-1","off_h":"-1","off_m":"-1","off_s":"-1","valid":false}],"x":480,"y":80,"wires":[["4de37a56.4f0904","4f2cda27.b13cf4","7690823a.37997c","933823a3.554bb","78858f37.be1cf","444bed60.a81c24"]]},{"id":"f22f1fd5.65b","type":"calendar-trigger","z":"39757602.437b4a","name":"calendar-trigger","x":420,"y":360,"wires":[["e840bbd0.81e798"]]},{"id":"1ec71971.9e3817","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.199","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce87a7f7.67cd78","type":"ui_group","z":"","name":"Sprinkers","tab":"7eea5a8a.2700c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c25542b.b7bc1c","type":"ui_group","z":"","name":"Station Alert","tab":"fba50405.4f0ca8","order":2,"disp":true,"width":"6","collapse":true},{"id":"7eea5a8a.2700c4","type":"ui_tab","z":"","name":"Garage","icon":"dashboard","disabled":false,"hidden":false},{"id":"fba50405.4f0ca8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]